body {
    font-family: Arial, Helvetica, sans-serif;
}


.techstack_contain {
    font-size: xx-large;
    color: white;
}

.heading {
    font-size: xx-large;
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 40px;
    text-decoration: underline;
    text-decoration-color: white;
}

.techstack div {
    align-items: center;
}

.images {
    display: flex;
    margin-top: 70px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.tech_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.img {
    height: 100px;
    width: 100px;
    margin: 30px;
}
.node {
    width: 150px;
}
.tailwind {
    width: 150px;
}
.bootstrap {
    width: 120px;
}

.names {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.names h4 {
    margin: 30px;
}

.texthtml {
    color: #EF652A;
}
.textcss {
    color: #30A9DC;
}
.textjs {
    color: #F5DE19;
}
.textreact {
    color: #00D8FF;
}
.textbs {
    color: #7C0AF8;
}
.texttw {
    color: #18B6B9;
}
.textnj {
    color: #75AD63;
}
.textpy {
    color: #3770A0;
}

.tier-list {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.tier {
    padding: 10px;
    width: 200px;
    text-align: center;
}

.s-tier {
    background-color: green;
}

.a-tier {
    background-color: yellow;
}

.b-tier {
    background-color: red;
}

.item {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #eee;
}